
*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128,0.1);
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}


html:focus-within {
  scroll-behavior: smooth;
}


body {
  font-family: 'IBM Plex Sans', sans-serif;;
  min-width: 360px;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}


img,
picture {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.nav{
  height:24px;
  gap:7px;
  padding-right:12px;
  background: #FFFFFF;
}
@media(min-width:992px){
  .nav{
    height:72px;
    padding-inline:72px;
  
  }
}
.test{
  background-color: green;
  height:100px;
}
.just{
  background-color: purple;
  height: 40px;
  width: 80px; ;

}
.input-cont{
  width: 360px;
  height:42px;
  background: #F2F2F2;
  border-radius: 21px;
  padding-inline:16px;
  gap:10px;
 

}
.create-acc{
  font-weight: 500;
  line-height: 20px;
  color:#2E2E2E
}
.span-free{
  font-weight: 700;
 color: #2F6CE5;
 margin-left:5px;
}
.input-cont>img{
  width:16px;
  
}
.main{
  padding-inline:180px;
}


@media(max-width:992px){
  .main{
    padding-inline:0px;
  }
}

.search{
  border:none;
  font-weight: 500;
  color:#5C5C5C;
  flex:1;
  background-color: inherit;
}
.banner{
  position: relative;
height:440px;
background-position: center center;
background-image: url("./Group-img.png");
}
.grp{
  position:absolute;
  top:20px;
  width:100%;
  padding-inline:20px;

}
.grp-btn{
  color:#FFFFFF;
  border: 0.8px solid #FFFFFF;
border-radius: 4px;
padding:8px 6px;
background-color: rgba(0, 0, 0, 0);
font-size:12px;
font-weight: 500;
line-height: 16px;
}
@media(max-width:480px){
  .banner{
    height:236px;
    background-position: center center;
    background-image: url("./group-img-s.png");
    }
}
.gra{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
  height:100%;
  z-index: 1;
}
.filter-cont{
  max-width: 1040px;
  margin-top: 32px;
  height:60px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom:28px;
}
@media(max-width:992px){
  .filter-cont{
    max-width: 1040px;
    margin-top: 14px;
    height:50px;
    border-bottom: none;
    margin-bottom:20px;
    padding-inline: 18px;
  }
}
.filters{
  gap:20px;
  color: #8A8A8A;
}
.span-filter{
  color: #000000;
}
.filter-l{
  font-weight: 700;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.01em;
color: #212529;
}
.post-cont{
  max-width:692px;

  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding:0 0 20px 0;
  margin-bottom: 16px;
}
.post-main{
  padding:20px 20px 0px 20px;
 
}
.post-para>p{
  width:max-content;
  
}
.post-main>*{
  margin-bottom:10px;
  
}
.post-header{
  font-weight: 600;
font-size: 22px;
line-height: 30px;



color: #000000;
}
.post-para{
  width:100%;
  position: relative;
  font-weight: 400;
  font-size: 19px;
  line-height: 134.17%;
overflow-x: hidden;
color: #5C5C5C;
}
.post-footer{
  margin:32px 0 0 0;
}
@media(max-width:480px){
  .post-cont{
    background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  }
  .post-main{
    padding:14px 16px 0px 16px;
  
  }
  .post-main>*{
    margin-bottom:6px;
    
  }
  .post-header{
    font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  
  
  color: #000000;
  }
  .post-para{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5C5C5C;
  }
  .post-footer{
    margin:21px 0 0 0;
  }
}
@media(max-width:480px){
  
}
.abs{
  position: absolute;
  top:0;
  right:0;
  background-color: #FFFFFF;
}
.login-cover{
  top:0;
  left:0;
  position: fixed;
  width:100vw;
  height:100vh;
background: rgba(0, 0, 0,.4);
z-index: 9;
}
.cross{
  width:fit-content;
  position:absolute;
  right:-10px;
  top:-30px;
  color:white;
}
.login-cont{
  width:736px;
 position: absolute;
background-color: white;
translate: -50% -50%;
top:50%;
left:50%;
}
.log-pad{
  padding: 0 36px 36px 36px;
}
.login-input{
  height:46px;
  padding:5px;
  width:100%;
  color:#D9D9DB;
  border: 1px solid #D9D9DB;
  background-color: #F7F8FA;
}
.login-l{

  width:320px;
}
.login-r{

  width:320px;
}
.sign-btn{
  width:100%;
  height: 38px;;
  background: #FFFFFF;
border: 0.6px solid #D9D9DB;
border-radius: 2px;
margin-bottom: 8px;

}
.sign-native{
  border-radius:23px;
  width:100%;
  margin-bottom: 24px;
  margin-top: 19px;
}
.login-header-2{
  font-weight: 700;
font-size: 24px;
line-height: 31px;
margin:0 0 24px 0;
color: #000000;
}
.login-header{
  width: 736px;
height: 50px;
background: #EFFFF4;
border-radius: 8px 8px 0px 0px;
margin:0 0 24px 0;
font-weight: 500;
font-size: 14px;
line-height: 16px;


text-align: center;

color: #008A45;
}

.login-span{
  font-weight: 400;
font-size: 13px;
line-height: 17px;


text-align: right;
margin-right: 0px;
color: #3D3D3D;
}
.login-header-2>div>span:last-child{
  color:#2F6CE5;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
 
  
  text-align: right;
}
.login-cond{
  margin-top:12px;
  font-weight: 400;
font-size: 11px;
line-height: 16px;


text-align: right;
letter-spacing: -0.008em;

color: #000000;

opacity: 0.6;
}
.gone{
  display:none
}
@media(max-width:736px){
  .already{
    display: none;
  }
  .gone{
    display: block;
  }
.login-r{
  display: none;
}
.login-cont{
  margin:auto;
  top:unset;
  translate:-50% 0;
  bottom:0;
  left:50%;
  width:360px;
  padding-bottom:20px;
  border-radius: 8px 8px 0px 0px;
 
}
.login-header{
  display: none!important;
}
.login-header-2{
  font-weight: 700;
font-size: 18px;
line-height: 23px;
}
.sign-native{
  width:max-content;
}
.log-pad{
  padding: 0 20px 20px 20px;
}
.login-cond{
  padding-inline: 40px;
  text-align: center;
}
}
.location-input{
  font-weight: 400;
font-size: 14px;
line-height: 18px;
border:none;
color: #000000;
}
.location-text{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
margin-top:36px;
color: #000000;

opacity: 0.5;
}
.location{
  border-bottom: 0.4px solid #B8B8B8;
  padding-bottom:20px;
 
}
.suggest{
  width:240px;

}